body {
	background-color: #f5fffa; 
	margin-bottom: 60px;
}

h1, h4 {
	font-family: Helvetica, sans-serif;
}

.container {
	text-align: center;
	padding-top: 70px;
}

hr {
	width: 600px;
	border: 1px solid black;
}

#author {
	font-style: italic; 
}

.quote-box {
	border: 1px dotted black; 
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 15px;
}